*,
*:after { box-sizing: border-box; }

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 50px;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	text-transform: lowercase;
	line-height: 1.25;
	letter-spacing: .1em;
	color: black;

	background-color: lavenderblush;
}

#poe-demo {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	border-collapse: collapse;
	border: 0;

	opacity: .5;
}

#poe-demo abbr { cursor: help; }

.poe-demo-row:not(.is-primary) {
	font-style: italic;
	opacity: .5;
}

.poe-demo-col {
	padding: 20px 10px;
	vertical-align: middle;
	text-align: left;
}

th.poe-demo-col,
.poe-demo-row.for-frames > .poe-demo-col { border-bottom: 1px solid salmon; }

.poe-demo-row.for-frames > .poe-demo-col { padding-top: 0; }

td.poe-demo-col.for-id {
	letter-spacing: 0;
	line-height: 1;
}

td.poe-demo-col.for-name {
	text-transform: capitalize;
}

.poe-icon {
	display: block;
	width: 20px;
	height: 20px;
	color: green;
}

.poe-icon.is-inactive {
	color: lightsteelblue;
	pointer-events: none;
}

.poe-icon > svg {
	display: block;
	width: 100%;
	height: 100%;
}

.poe-icon.is-play {
	color: lightcoral;
	cursor: pointer;
	transition: color .3s ease;
}
.poe-icon.is-play:hover { color: black; }

.poe-demo-chain {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	line-height: 1;
}

.poe-demo-chain + .poe-demo-chain { margin-top: .5em; }

.poe-demo-chain-name {
	display: block;
	width: 55px;
}

.poe-demo-chain-value {
	letter-spacing: 0;
}

.poe-demo-chain-link {
	color: lightcoral;
	font-weight: bold;
	letter-spacing: 0;
	text-decoration: none;
	transition: color .3s ease;
}

.poe-demo-chain-link:after {
	content: ',';
	margin-right: .5em;
	color: darkgrey;
}

.poe-demo-chain-link:last-child:after { content: ''; }

.poe-demo-chain-link:hover { color: black; }

.poe-demo-frames {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: -5px;
}

.poe-demo-frame {
	display: block;
	width: ${TILE_SIZE}px;
	height: ${TILE_SIZE}px;
	margin: 0 5px 5px 0;

	background: transparent url(${IMAGE}) top left no-repeat;
	background-size: ${WIDTH}px ${HEIGHT}px;
	background-position: 0 0;
}

.poe-demo-frames.is-repeatable > .poe-demo-frame {
	position: relative;
	height: ${TILE_SIZE + 10}px;
}

.poe-demo-frames.is-repeatable > .poe-demo-frame:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	line-height: 10px;
	text-align: center;
	background-color: lavenderblush;
	color: green;
}

.poe-demo-frames.is-repeatable > .poe-demo-frame.is-repeated:after {
	content: '∞';
}

.poe-demo-frame.f1{background-position-x: -40px}
.poe-demo-frame.f2{background-position-x: -80px}
.poe-demo-frame.f3{background-position-x: -120px}
.poe-demo-frame.f4{background-position-x: -160px}
.poe-demo-frame.f5{background-position-x: -200px}
.poe-demo-frame.f6{background-position-x: -240px}
.poe-demo-frame.f7{background-position-x: -280px}
.poe-demo-frame.f8{background-position-x: -320px}
.poe-demo-frame.f9{background-position-x: -360px}
.poe-demo-frame.f10{background-position-x: -400px}
.poe-demo-frame.f11{background-position-x: -440px}
.poe-demo-frame.f12{background-position-x: -480px}
.poe-demo-frame.f13{background-position-x: -520px}
.poe-demo-frame.f14{background-position-x: -560px}
.poe-demo-frame.f15{background-position-x: -600px}
.poe-demo-frame.f16{background-position-y: -40px}
.poe-demo-frame.f17{background-position: -40px -40px}
.poe-demo-frame.f18{background-position: -80px -40px}
.poe-demo-frame.f19{background-position: -120px -40px}
.poe-demo-frame.f20{background-position: -160px -40px}
.poe-demo-frame.f21{background-position: -200px -40px}
.poe-demo-frame.f22{background-position: -240px -40px}
.poe-demo-frame.f23{background-position: -280px -40px}
.poe-demo-frame.f24{background-position: -320px -40px}
.poe-demo-frame.f25{background-position: -360px -40px}
.poe-demo-frame.f26{background-position: -400px -40px}
.poe-demo-frame.f27{background-position: -440px -40px}
.poe-demo-frame.f28{background-position: -480px -40px}
.poe-demo-frame.f29{background-position: -520px -40px}
.poe-demo-frame.f30{background-position: -560px -40px}
.poe-demo-frame.f31{background-position: -600px -40px}
.poe-demo-frame.f32{background-position-y: -80px}
.poe-demo-frame.f33{background-position: -40px -80px}
.poe-demo-frame.f34{background-position: -80px -80px}
.poe-demo-frame.f35{background-position: -120px -80px}
.poe-demo-frame.f36{background-position: -160px -80px}
.poe-demo-frame.f37{background-position: -200px -80px}
.poe-demo-frame.f38{background-position: -240px -80px}
.poe-demo-frame.f39{background-position: -280px -80px}
.poe-demo-frame.f40{background-position: -320px -80px}
.poe-demo-frame.f41{background-position: -360px -80px}
.poe-demo-frame.f42{background-position: -400px -80px}
.poe-demo-frame.f43{background-position: -440px -80px}
.poe-demo-frame.f44{background-position: -480px -80px}
.poe-demo-frame.f45{background-position: -520px -80px}
.poe-demo-frame.f46{background-position: -560px -80px}
.poe-demo-frame.f47{background-position: -600px -80px}
.poe-demo-frame.f48{background-position-y: -120px}
.poe-demo-frame.f49{background-position: -40px -120px}
.poe-demo-frame.f50{background-position: -80px -120px}
.poe-demo-frame.f51{background-position: -120px -120px}
.poe-demo-frame.f52{background-position: -160px -120px}
.poe-demo-frame.f53{background-position: -200px -120px}
.poe-demo-frame.f54{background-position: -240px -120px}
.poe-demo-frame.f55{background-position: -280px -120px}
.poe-demo-frame.f56{background-position: -320px -120px}
.poe-demo-frame.f57{background-position: -360px -120px}
.poe-demo-frame.f58{background-position: -400px -120px}
.poe-demo-frame.f59{background-position: -440px -120px}
.poe-demo-frame.f60{background-position: -480px -120px}
.poe-demo-frame.f61{background-position: -520px -120px}
.poe-demo-frame.f62{background-position: -560px -120px}
.poe-demo-frame.f63{background-position: -600px -120px}
.poe-demo-frame.f64{background-position-y: -160px}
.poe-demo-frame.f65{background-position: -40px -160px}
.poe-demo-frame.f66{background-position: -80px -160px}
.poe-demo-frame.f67{background-position: -120px -160px}
.poe-demo-frame.f68{background-position: -160px -160px}
.poe-demo-frame.f69{background-position: -200px -160px}
.poe-demo-frame.f70{background-position: -240px -160px}
.poe-demo-frame.f71{background-position: -280px -160px}
.poe-demo-frame.f72{background-position: -320px -160px}
.poe-demo-frame.f73{background-position: -360px -160px}
.poe-demo-frame.f74{background-position: -400px -160px}
.poe-demo-frame.f75{background-position: -440px -160px}
.poe-demo-frame.f76{background-position: -480px -160px}
.poe-demo-frame.f77{background-position: -520px -160px}
.poe-demo-frame.f78{background-position: -560px -160px}
.poe-demo-frame.f79{background-position: -600px -160px}
.poe-demo-frame.f80{background-position-y: -200px}
.poe-demo-frame.f81{background-position: -40px -200px}
.poe-demo-frame.f82{background-position: -80px -200px}
.poe-demo-frame.f83{background-position: -120px -200px}
.poe-demo-frame.f84{background-position: -160px -200px}
.poe-demo-frame.f85{background-position: -200px -200px}
.poe-demo-frame.f86{background-position: -240px -200px}
.poe-demo-frame.f87{background-position: -280px -200px}
.poe-demo-frame.f88{background-position: -320px -200px}
.poe-demo-frame.f89{background-position: -360px -200px}
.poe-demo-frame.f90{background-position: -400px -200px}
.poe-demo-frame.f91{background-position: -440px -200px}
.poe-demo-frame.f92{background-position: -480px -200px}
.poe-demo-frame.f93{background-position: -520px -200px}
.poe-demo-frame.f94{background-position: -560px -200px}
.poe-demo-frame.f95{background-position: -600px -200px}
.poe-demo-frame.f96{background-position-y: -240px}
.poe-demo-frame.f97{background-position: -40px -240px}
.poe-demo-frame.f98{background-position: -80px -240px}
.poe-demo-frame.f99{background-position: -120px -240px}
.poe-demo-frame.f100{background-position: -160px -240px}
.poe-demo-frame.f101{background-position: -200px -240px}
.poe-demo-frame.f102{background-position: -240px -240px}
.poe-demo-frame.f103{background-position: -280px -240px}
.poe-demo-frame.f104{background-position: -320px -240px}
.poe-demo-frame.f105{background-position: -360px -240px}
.poe-demo-frame.f106{background-position: -400px -240px}
.poe-demo-frame.f107{background-position: -440px -240px}
.poe-demo-frame.f108{background-position: -480px -240px}
.poe-demo-frame.f109{background-position: -520px -240px}
.poe-demo-frame.f110{background-position: -560px -240px}
.poe-demo-frame.f111{background-position: -600px -240px}
.poe-demo-frame.f112{background-position-y: -280px}
.poe-demo-frame.f113{background-position: -40px -280px}
.poe-demo-frame.f114{background-position: -80px -280px}
.poe-demo-frame.f115{background-position: -120px -280px}
.poe-demo-frame.f116{background-position: -160px -280px}
.poe-demo-frame.f117{background-position: -200px -280px}
.poe-demo-frame.f118{background-position: -240px -280px}
.poe-demo-frame.f119{background-position: -280px -280px}
.poe-demo-frame.f120{background-position: -320px -280px}
.poe-demo-frame.f121{background-position: -360px -280px}
.poe-demo-frame.f122{background-position: -400px -280px}
.poe-demo-frame.f123{background-position: -440px -280px}
.poe-demo-frame.f124{background-position: -480px -280px}
.poe-demo-frame.f125{background-position: -520px -280px}
.poe-demo-frame.f126{background-position: -560px -280px}
.poe-demo-frame.f127{background-position: -600px -280px}
.poe-demo-frame.f128{background-position-y: -320px}
.poe-demo-frame.f129{background-position: -40px -320px}
.poe-demo-frame.f130{background-position: -80px -320px}
.poe-demo-frame.f131{background-position: -120px -320px}
.poe-demo-frame.f132{background-position: -160px -320px}
.poe-demo-frame.f133{background-position: -200px -320px}
.poe-demo-frame.f134{background-position: -240px -320px}
.poe-demo-frame.f135{background-position: -280px -320px}
.poe-demo-frame.f136{background-position: -320px -320px}
.poe-demo-frame.f137{background-position: -360px -320px}
.poe-demo-frame.f138{background-position: -400px -320px}
.poe-demo-frame.f139{background-position: -440px -320px}
.poe-demo-frame.f140{background-position: -480px -320px}
.poe-demo-frame.f141{background-position: -520px -320px}
.poe-demo-frame.f142{background-position: -560px -320px}
.poe-demo-frame.f143{background-position: -600px -320px}
.poe-demo-frame.f144{background-position-y: -360px}
.poe-demo-frame.f145{background-position: -40px -360px}
.poe-demo-frame.f146{background-position: -80px -360px}
.poe-demo-frame.f147{background-position: -120px -360px}
.poe-demo-frame.f148{background-position: -160px -360px}
.poe-demo-frame.f149{background-position: -200px -360px}
.poe-demo-frame.f150{background-position: -240px -360px}
.poe-demo-frame.f151{background-position: -280px -360px}
.poe-demo-frame.f152{background-position: -320px -360px}
.poe-demo-frame.f153{background-position: -360px -360px}
.poe-demo-frame.f154{background-position: -400px -360px}
.poe-demo-frame.f155{background-position: -440px -360px}
.poe-demo-frame.f156{background-position: -480px -360px}
.poe-demo-frame.f157{background-position: -520px -360px}
.poe-demo-frame.f158{background-position: -560px -360px}
.poe-demo-frame.f159{background-position: -600px -360px}
.poe-demo-frame.f160{background-position-y: -400px}
.poe-demo-frame.f161{background-position: -40px -400px}
.poe-demo-frame.f162{background-position: -80px -400px}
.poe-demo-frame.f163{background-position: -120px -400px}
.poe-demo-frame.f164{background-position: -160px -400px}
.poe-demo-frame.f165{background-position: -200px -400px}
.poe-demo-frame.f166{background-position: -240px -400px}
.poe-demo-frame.f167{background-position: -280px -400px}
.poe-demo-frame.f168{background-position: -320px -400px}
.poe-demo-frame.f169{background-position: -360px -400px}
.poe-demo-frame.f170{background-position: -400px -400px}
.poe-demo-frame.f171{background-position: -440px -400px}
.poe-demo-frame.f172{background-position: -480px -400px}
.poe-demo-frame.f173{background-position: -520px -400px}
.poe-demo-frame.f174{background-position: -560px -400px}
.poe-demo-frame.f175{background-position: -600px -400px}
