/**
 * RS Mate Poe: Variables
 */

// The size of a single (square) sprite tile.
$tile_size: 40px;

// Max Used Frame ID.
$max_frame: 154;

// Max Unused Frame ID.
$max_unused_frame: 165;

// The sprite image width.
$width: 6200px;

// Rotation transform.
$rotate: rotateY(var(--rx, 0deg)) rotateX(var(--ry, 0deg));

// Masks.
$m021: path("M0 25v6h1v1h1v2h1v1H2v4h19v1h6v-1h6v-1h2v-2h2v-2h1v-2h1v-2h1V20h-1v-2h-1v-3h-1v-3h-1v-1h-1v-1h-1V9h-2V8h-4V7h-2V6H15v1h-2v1h-1v1h-1v1h-1v1H9v2H8v2H7v2H6v3H5v1H4v1H3v1H2v1H1v1z");
$m100: path("M0 13v6h1v1h1v2h1v1h1v1h2v3h1v1h1v2h1v1h1v1h1v1h2v1h2v6h5v-4h1v3h4v-4h2v-1h2v-1h2v-1h1v-1h1v-1h1v-1h6v-5h-4v-4h1v-1h1v-3h1v-6h-1V7h-1V6h-2V5h-2V4h-6V3h-2V2H15v1h-3v1h-2v1H9v1H8v1H4v1H3v1H2v1H1v3z");
$m133: path("M0 4v19h1v1h1v8h1v3h1v1h1v1h1v1h1v1h1v1h3v-1h1v-1h16v1h1v1h3v-1h1v-1h1v-1h1v-1h1v-1h1v-3h1v-8h1v-1h1v-4h-1v-1H4V5h1V4h1v5h2V8h1V7h1V6h1V5h1V4h1V3h1V1H8V0H3v1H2v1H1v2z");
