/**
 * RS Mate Poe: Variables
 */

// The size of a single (square) sprite tile.
$tile_size: 40px;

// Max Used Frame ID.
$max_frame: 141;

// Max Unused Frame ID.
$max_unused_frame: 163;

// The sprite image width.
$width: 5680px;

// Position transform.
$pos: translate3d(var(--x, 0), var(--y, 0), 0);

// Masks.
$m024: path("M0 40V0h40v33H29v7z");
$m083: path("M0 40V0h40v33h-2v1h-1v1h-1v1h-1v2h-2v2z");
$m120: path("M0 40V0h14v9H6v9h34v22z");

// Mono font.
$mono: "SFMono-Regular", Menlo, Monaco, Consolas, "Fira Mono", "Liberation Mono", "Courier New", monospace;
