/**
 * RS Mate Poe: Demo CSS (base)
 */

@import "_base";

*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $mono;
	image-rendering: pixelated;
}

.frame {
	position: relative;
	width: $tile_size;
	height: $tile_size;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: $tile_size;
		height: $tile_size;

		background-image: url('poe.png');
		background-repeat: no-repeat;
		background-position: var(--x, 0) var(--y, 0);

		pointer-events: none;
	}
}

// Used frames.
@for $frame from 1 through $max_frame {
	$x: (0 - $tile_size) * $frame;
	.f#{$frame} { --x: #{$x}; }
}

// Unused frames.
@for $frame from $max_frame + 1 through $max_unused_frame {
	$x: (0 - $tile_size) * $frame;
	.f#{$frame} {
		--x: #{$x};
		&:before {
			filter: grayscale(1);
			opacity: .5;
		}
	}
}

// Half Frames.
.fh36 { @extend .f36; }
.fh37 { @extend .f37; }
.fh38 { @extend .f38; }
.fh36, .fh37, .fh38 {
	--y: -2px;
	&:before { clip-path: inset(0 0 50% 0); }
}

// Maked Frames.
.fm16 {
	@extend .f16;
	&:before { clip-path: $m016; }
}
.fm26 {
	@extend .f26;
	&:before { clip-path: $m026; }
}
.fm126 {
	@extend .f126;
	&:before { clip-path: $m126; }
}
