/**
 * RS Mate Poe: Demo CSS (base)
 */

@import "_base";

*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $mono;
	image-rendering: pixelated;
}

.frame {
	position: relative;
	width: $tile_size;
	height: $tile_size;

	&:before {
		content: '';
		position: absolute;
		inset: 0;

		background-image: url('poe.png');
		background-repeat: no-repeat;
		background-position: var(--x, 0) var(--y, 0);

		pointer-events: none;
	}
}

// Used frames.
@for $frame from 1 through $max_frame {
	$x: (0 - $tile_size) * $frame;
	.f#{$frame} { --x: #{$x}; }
}

// Unused frames.
@for $frame from $max_frame + 1 through $max_unused_frame {
	$x: (0 - $tile_size) * $frame;
	.f#{$frame} {
		--x: #{$x};
		&:before {
			filter: grayscale(1);
			opacity: .5;
		}
	}
}

// Half Frames.
.fh38 { @extend .f38; }
.fh39 { @extend .f39; }
.fh40 { @extend .f40; }
.fh38, .fh39, .fh40 {
	--y: -2px;
	&:before { clip-path: inset(0 0 50% 0); }
}

// Reversed frames.
.fr43 { @extend .f43; }
.fr81 { @extend .f81; }
.fr82 { @extend .f82; }
.fr101 { @extend .f101; }
.fr102 { @extend .f102; }
.fr103 { @extend .f103; }
.fr43, .fr81, .fr82, .fr101, .fr102, .fr103 {
	&:before { transform: scaleX(-1); }
}

// Maked Frames.
.fm24 {
	@extend .f24;
	&:before { clip-path: $m024; }
}
.fm83 {
	@extend .f83;
	&:before { clip-path: $m083; }
}
.fm120 {
	@extend .f120;
	&:before { clip-path: $m120; }
}
