/**
 * RS Mate Poe: CSS
 */

// The size of a single (square) sprite tile.
$tile_size: 40px;

// The sprite image width.
$width: 6240px;

// Rotation transform.
$rotate: rotateY(var(--rx, 0deg)) rotateX(var(--ry, 0deg));

:host {
	display: contents;
	image-rendering: pixelated;
}

#p, #i {
	display: block;
	margin: 0;
	padding: 0;
}

// The wrapper/window.
#p {
	position: fixed;
	top: 0;
	left: 0;
	width: $tile_size;
	height: $tile_size;

	cursor: grab;
	z-index: 2147483647; // i32::MAX
	overflow: hidden;

	opacity: 1;
	transition: opacity .5s ease;
	transform: translate3d(var(--x, 0), var(--y, 0), 0) $rotate;
}

// The image.
#i {
	width: $width;
	height: $tile_size;
	transform: translate3d(var(--c, 0), var(--r, 0), 0);
}

// Disable mouse clicks for disabled sprites, child sprites, and the image
// element.
#p.child, #p.off, #i { pointer-events: none; }

// Half-size.
#p.h {
	--r: -2px;
	height: $tile_size / 2;
}

// Disabled sprite.
#p.off, #p.a5 { opacity: 0; }

// Reverse the image across one or both planes.
.rx { --rx: 180deg; }
.ry { --ry: 180deg; }

// Masks.
#p.m021 { clip-path: path("M0 25v6h1v1h1v2h1v1H2v4h19v1h6v-1h6v-1h2v-2h2v-2h1v-2h1v-2h1V20h-1v-2h-1v-3h-1v-3h-1v-1h-1v-1h-1V9h-2V8h-4V7h-2V6H15v1h-2v1h-1v1h-1v1h-1v1H9v2H8v2H7v2H6v3H5v1H4v1H3v1H2v1H1v1z"); }
#p.m101 { clip-path: path("M0 13v6h1v1h1v2h1v1h1v1h2v3h1v1h1v2h1v1h1v1h1v1h2v1h2v6h5v-4h1v3h4v-4h2v-1h2v-1h2v-1h1v-1h1v-1h1v-1h6v-5h-4v-4h1v-1h1v-3h1v-6h-1V7h-1V6h-2V5h-2V4h-6V3h-2V2H15v1h-3v1h-2v1H9v1H8v1H4v1H3v1H2v1H1v3z"); }
#p.m134 { clip-path: path("M0 4v19h1v1h1v8h1v3h1v1h1v1h1v1h1v1h1v1h3v-1h1v-1h16v1h1v1h3v-1h1v-1h1v-1h1v-1h1v-1h1v-3h1v-8h1v-1h1v-4h-1v-1H4V5h1V4h1v5h2V8h1V7h1V6h1V5h1V4h1V3h1V1H8V0H3v1H2v1H1v2z"); }

// Animation: Dragging.
#p.a1 { cursor: grabbing; }

// Animation: SneezeShadow.
#p.a2 { z-index: 99999; }

// Animation: Abduction.
#p.a3 { animation: a3 0.25s 4.2s infinite; }

// Animation: BigFish.
#p.a4 {
	transform: translate3d(var(--x, 0), var(--y, 0), 0) $rotate scale(3);
}

// Animation: SplatGhost.
#p.a5 {
	filter: sepia(1);
	transition: none;
	animation: a5 0.8s;
}

// Color-shift the sprite to make the abduction more dramatic.
@keyframes a3 {
	from { filter: saturate(5); }
	to { filter: saturate(5) hue-rotate(359deg); }
}

// Fade out the ghost a bit early.
@keyframes a5 {
	0% { opacity: 0.5; }
	50% { opacity: 0.5; }
	100% { opacity: 0; }
}
