/**
 * RS Mate Poe: CSS
 */

@import "_base";

:host {
	display: contents;
	image-rendering: pixelated;

	// Hide when printing.
	@media print { visibility: hidden; }
}

#p, #i {
	display: block;
	margin: 0;
	padding: 0;
}

// The wrapper/window.
#p {
	&.smooth { --smooth: 15ms; }

	position: fixed;
	top: 0;
	left: 0;
	width: $tile_size;
	height: $tile_size;

	cursor: grab;
	z-index: 2147483647; // i32::MAX
	overflow: clip;

	opacity: 1;
	transition:
		opacity 0.5s ease,
		transform var(--smooth, 0s) linear,
		content-visibility 0.5s allow-discrete;
	transform: $pos;

	content-visibility: auto;
}

// The image.
#i {
	width: $width;
	height: $tile_size;
	transform: translateX(var(--c, 0));
}

// Disable mouse clicks for disabled sprites, child sprites, and the image
// element.
#p.child,
#p.no-focus,
#p.off,
#i { pointer-events: none; }

// This property is iffy, but we're going to be pushing shit all over the
// screen, so it's probably worth it.
#p:not(.off) { will-change: transform; }

// Half-size.
#p[data-f="h"] {
	height: $tile_size / 2;
	& > #i { margin-top: -2px; }
}

// Disabled/invisible sprites.
#p.off {
	opacity: 0;
	content-visibility: hidden;
}

// Reverse the image across one or both planes.
#p.rx { transform: $pos scaleX(-1); }

// Masks.
#p[data-f="m024"] { clip-path: $m024; }
#p[data-f="m083"] { clip-path: $m083; }
#p[data-f="m120"] { clip-path: $m120; }

// Animation: Dragging.
#p[data-a="1"] { cursor: grabbing; }

// Animation: BlackSheepCatchChild(ren), SneezeShadow, and
// ShadowShowdownChild(ren).
#p[data-a="2"],
#p[data-a="9"],
#p[data-a="a"],
#p[data-a="f"] { z-index: 2147483646; }

// Animation: Abduction.
#p[data-a="3"] { animation: a3 0.25s 4s 28; }

// Animation: BigFish.
#p[data-a="4"] { transform: $pos scale(3); }

// Animation: SplatGhost.
#p[data-a="5"] {
	filter: sepia(1);
	transition: none;
	animation: a5 0.8s forwards;
}

// Animation: Eating/MagicFlower.
#p[data-a="6"],
#p[data-a="7"] { filter: hue-rotate(250deg); }

#p[data-a="6"] { transition: filter 3s 0.8s ease-out; }

// Animation: DigestMagicFlower1.
#p[data-a="8"] { transition: filter 1.5s ease-out; }

// Animation: ShadowShowdownChild(ren).
#p[data-a="9"],
#p[data-a="a"] { filter: brightness(0) blur(1px); }

#p[data-a="9"] {
	opacity: 0.5;
	transform: $pos skew(-40deg);
	&.rx { transform: $pos scaleX(-1) skew(-40deg); }
}

#p[data-a="a"] {
	transition: none;
	animation: a5 3s forwards;
	transform: $pos skew(40deg);
	&.rx { transform: $pos scaleX(-1) skew(40deg); }
}

// Animation: DangleRecover.
#p[data-a="b"] {
	transform: $pos scaleY(-1);
	&.rx { transform: $pos scale(-1); }
}

// Animation: Yoyo.
#p[data-a="c"] { animation: ac 0.2s infinite linear; }

// Animation: BeamIn.
#p[data-a="d"] {
	animation: ad 0.5s 3.5s forwards;
	& > #i { animation: iad 2.5s 1s linear; }
}

// Animation: Glitch.
#p[data-a="e"]:after {
	content: '';

	position: absolute;
	inset: 0;

	clip-path: inset(0 0 100% 0);
	mix-blend-mode: screen;

	animation: ae 1s step-end;
}

// Animation: BlackSheepCatchExitChild.
#p[data-a="f"] {
	opacity: 0;
	transition:
		transform 0.1s linear,
		opacity 0.5s 2.25s ease,
		content-visibility 0.5s 2.25s allow-discrete;;
	transform: $pos scaleY(0.1);
	transform-origin: bottom;
}

// Animation: BathDiveChild.
#p[data-a="g"] {
	transition:
		opacity 0.5s 1.25s ease,
		content-visibility 0.5s 1.25s allow-discrete;
}

// Color-shift the sprite to make the abduction more dramatic.
@keyframes a3 {
	from { filter: saturate(5); }
	to { filter: saturate(5) hue-rotate(359deg); }
}

// This fades out the ghost and shadow sprites _before_ their special classes
// are removed to prevent the loss of their filters/etc. while still visible.
@keyframes a5 {
	0%   { opacity: 0.5; }
	50%  { opacity: 0.5; }
	100% { opacity: 0; }
}

// Spin and spin!
@keyframes ac {
	to { transform: $pos rotate(359deg); }
}

// Grow a pink drop-shadow.
@keyframes ad {
	to   { filter: drop-shadow(0 0 10px #ff1493); }
}

// Reveal top/down.
@keyframes iad {
	from { clip-path: inset(0 0 100% 0); }
	to   { clip-path: inset(0 0 0 0); }
}

// Jiggle the glitch boxes around.
@keyframes ae {
	5%  {
		clip-path: inset(100% 0 30% 70%);
		background-color: fuchsia;
	}
	20% { clip-path: inset(0 0 100% 0); }
	25% {
		clip-path: inset(25% 75% 100% 0);
		background-color: lawngreen;
	}
	45% {
		clip-path: inset(0 0 100% 0);
		background-color: aqua;
	}
	55% { clip-path: inset(35% 55% 90% 20%); }
	85% {
		clip-path: inset(100% 25% 75% 0);
		background-color: fuchsia;
	}
}
