/**
 * CSS: JS Mate Poe
 */

// Import the base.
@import "_base";



// ---------------------------------------------------------------------
// Layout
// ---------------------------------------------------------------------

*,
*:after { box-sizing: border-box; }

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	min-width: 37.5em;
	min-height: 100vh;
	margin: 0;
	padding: 50px;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;

	color: black;
	background-color: lavenderblush;

	// Immersive mode.
	&.is-immersive {
		// Photo by Alexandre Lecocq on Unsplash <https://unsplash.com/photos/k8kogBkUWCk>.
		background: transparent url(grass.jpg) scroll bottom center no-repeat;
		background-size: cover;
	}
}

// Generic wrappers.
#app {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

// A bar to "fade out" long content at the bottom of the screen.
#fader {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 250px;
	background: linear-gradient(to bottom, transparent 0%, lavenderblush 100%);
	pointer-events: none;
	z-index: 10000;

	body.is-immersive & { display: none; }
}

// Toggle immersive mode. This replaces the demo dashboard with a nice grassy background.
.immersive-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 30px;
	height: 30px;
	padding: 5px;

	border: 1px dashed transparent;
	color: salmon;

	cursor: pointer;

	transition:
		border .3s ease,
		color .3s ease;

	&:hover {
		border-style: solid;
		border-color: salmon;
	}

	body.is-immersive & {
		color: white;
		&:hover { border-color: white; }
	}
}

// A general icon.
.icon {
	& > svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}

// A general wrapper.
.section {
	@extend #app;
	padding: 40px 0;

	&-title {
		display: block;
		margin: 15px 0;
		font-size: 1.5rem;
		font-weight: 200;

		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	} // .section-title
}



// ---------------------------------------------------------------------
// Text
// ---------------------------------------------------------------------

.accent {
	font-size: .75rem;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
}



// ---------------------------------------------------------------------
// Tabs
// ---------------------------------------------------------------------

.tabs {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;

	border-bottom: 1px solid salmon;
}

.tab {
	display: block;
	margin: 0 0 -1px 10px;
	padding: 10px 20px;

	border: 1px solid salmon;
	border-radius: 5px 5px 0 0;

	color: white;
	background-color: lightpink;

	cursor: pointer;

	transition:
		background .3s ease,
		color .3s ease;

	&:hover { background-color: salmon; }

	&.is-active {
		border-bottom-color: lavenderblush;
		background-color: transparent;
		color: black;

		pointer-events: none;
	}
}

// This is the title and version information that appears in the header.
.pseudo-tab {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0 10px 0 auto;
	padding: 0 0 10px 0;
	align-self: flex-end;
	border: 1px solid transparent;

	& > * + * { margin-left: 10px; }

	& > .name {
		color: darkorchid;
		text-decoration: none;
		transition: color .3s ease;
		&:hover { color: black; }
	}

	& > .version {
		color: steelblue;
		text-transform: none;
	}
}



// ---------------------------------------------------------------------
// Animations
// ---------------------------------------------------------------------

// This is an animation row.
.animation {
	position: relative;
	margin: 30px 0;
	padding: 0 50px;

	& + .animation {
		border-top: 1px dashed rgba(salmon, .3);
		padding-top: 30px;
	}

	&-title {
		margin: 0;
	} // .animation-title

	&-name {
		cursor: pointer;
		transition: color .3s ease;

		&:hover { color: salmon; }
	} // .animation-name

	&-id {
		color: darkgrey;
		font-style: italic;
		letter-spacing: 0;
	} // .animation-id

	&-legends {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		margin: 10px 0 20px 0;
	} // .animation-legends

	&-legend {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 5px;

		border: 1px dashed lightsteelblue;

		& + .animation-legend { margin-left: 10px; }

		&-icon {
			width: 20px;
			height: 20px;
			margin-right: 5px;
			color: lightsteelblue;

			&:last-child { margin-right: 0; }

			&.play-toggle {
				color: salmon;
				cursor: pointer;
				transition: color .3s ease;

				&:hover { color: black; }
			}
		} // .animation-legend-icon

		&-value {
			@extend .accent;
			color: lightsteelblue;
		} // .animation-legend-value
	} // .animation-legend
}



// ---------------------------------------------------------------------
// Frames
// ---------------------------------------------------------------------

// A Poe frame.
.frame {
	display: block;
	width: $tile_size;
	height: $tile_size;

	background-image: url($image);
	background-size: $width $height;
	background-repeat: no-repeat;
	background-position: top left;
	image-rendering: crisp-edges;
}

// There are a lot of frames! As with the main js-mate-poe.scss, we're skipping the first frame as it maches the default position.
@for $frame from 1 through $tiles - 1 {
	$x: (0 - $tile_size) * ($frame % $tiles_x);
	$y: (0 - $tile_size) * floor($frame / $tiles_x);

	@if $x != 0 and $y != 0 {
		.f#{$frame} { background-position: $x $y; }
	} @else if $x != 0 {
		.f#{$frame} { background-position-x: $x; }
	} @else if $y != 0 {
		.f#{$frame} { background-position-y: $y; }
	}
}

// Frames: List.
.frames-list {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: -10px;

	& > .frame {
		margin: 0 10px 10px 0;
	}

	&.is-repeatable > .frame {
		position: relative;
		height: $tile_size + 10px;
		padding-bottom: 10px;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: $tile_size;
			height: 10px;
			background-color: lavenderblush;

			font-size: .75rem;
			font-weight: 600;
			letter-spacing: .1em;
			text-transform: uppercase;
			color: green;
			line-height: 10px;
			text-align: center;
		}

		&.is-repeated:after { content: '∞'; }
	}
}



// ---------------------------------------------------------------------
// Sprite
// ---------------------------------------------------------------------

// This is the sprite table showing all possible frames.
.sprite {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: calc(100% - 340px);
	margin: 0 40px 0 0;

	// This wraps .sprite and .playground.
	&-wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		margin-top: 30px;
	} // .sprite-wrapper

	// An individual frame.
	&-frame {
		position: relative;
		width: calc(#{$tile_size} + 10px);
		height: calc(#{$tile_size} + 10px);
		padding: 5px;

		background-color: lightgrey;
		cursor: cell;

		&:after {
			content: attr(data-frame);

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			width: 100%;
			height: 100%;

			display: flex;
			align-items: center;
			justify-content: center;

			font-size: .75rem;
			font-weight: 600;
			text-align: center;

			background-color: rgba(lightgrey, .9);
			color: black;

			opacity: 0;
			transition: opacity .3s ease;

			pointer-events: none;
		}

		&:hover:after { opacity: 1; }
	} // Sprite frame.
}

// This is the animation sequence explorer.
.playground {
	width: 300px;

	// Settings.
	&-settings {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 10px;
		background-color: lightgrey;

		&-errors {
			display: block;
			width: 100%;
			margin-top: 10px;
			color: red;
			text-transform: none;

			& > p {
				margin: 5px 0 0 0;
				&:first-child { margin-top: 0; }
			}
		} // .playground-settings-errors
	} // .playground-settings

	// Setting.
	&-setting {
		display: block;
		width: calc(33.3333% - 20px / 3);
		margin: 0;
		padding: 0;
		border: 0;

		&.for-presets {
			width: 100%;
			margin: 0 0 10px 0;
		}

		&.for-repeat,
		&.for-repeat-from { margin-left: 10px; }

		& > label {
			display: block;
			margin-bottom: 5px;
			cursor: pointer;

			&.is-required:after {
				content: '*';
				color: red;
			}
		}

		& > input,
		& > select {
			display: block;
			width: 100%;
			height: 30px;

			background-color: white;
			color: black;
			font-family: inherit;
			font-size: 0.875rem;
			text-indent: 5px;

			border: 1px solid darkgrey;
			transition: border .3s ease;

			&:hover,
			&:active,
			&:focus { border-color: black; }

			&:invalid { border-color: red; }
		}

		// Hide Firefox's weird outline.
		select:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}

		&.is-disabled {
			opacity: .5;
			pointer-events: none;
		}
	} // .playground-setting

	// Movie!
	&-movie {
		position: relative;
		display: block;
		width: 300px;
		height: $tile_size + 20px;
		padding: 20px 0;
		background-color: darkgrey;

		&-frame {
			position: absolute;
			top: 10px;
			left: calc(50% - #{$tile_size} / 2);
			pointer-events: none;
		} // .playground-movie-frame
	} // .playground-movie

	// Playground frames.
	&-frames {
		margin-top: 10px;
		border-collapse: collapse;
		border: 0;

		&-col {
			padding: 10px;
			vertical-align: middle;

			&:first-child { padding-left: 0; }
			&:last-child { padding-right: 0; }

			.infinity { color: green; }
		} // .playground-frames-col

		&-order {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;

			width: 13.10773px;
			height: 40px;

			& > .icon {
				width: 13.10773px;
				height: 15px;
				color: salmon;
				cursor: pointer;
				transition: color .3s ease;

				&.down { margin-top: 25px; }

				&.up {
					transform: rotate(180deg);
					color: lightsteelblue;

					+ .down { margin-top: 10px; }
				}

				&:hover { color: black; }
			}
		} // .playground-frames-order
	} // .playground-frames

	// Frame.
	&-frame {
		cursor: not-allowed;
	} // .playground-frame
}



// ---------------------------------------------------------------------
// Trees
// ---------------------------------------------------------------------

// The branching trees of possibility for next, edge, and child animations.
.animation-trees {
	display: block;
	margin-top: 20px;
}

// A single tree, e.g. "child".
.animation-tree {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 10px;
}

// The name of the tree, e.g. "Child".
.animation-trunk {
	@extend .accent;

	position: relative;
	display: block;
	width: 60px;
	margin: 0 40px 0 0;
	padding: 5px;

	border: 1px dashed lightsteelblue;
	color: lightsteelblue;
	text-align: center;

	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 1px);
		left: 100%;
		height: 0;
		width: 40px;
		border-bottom: 1px dashed lightsteelblue;
	}
}

// The branches for a tree.
.animation-branches {
	position: relative;
	padding: 20px;
	border: 1px dashed lightsteelblue;
}

// A single branch, e.g. the possible animation.
.animation-branch {
	@extend .accent;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	text-decoration: none;
	color: lightsteelblue;

	& + .animation-branch { margin-top: 10px; }

	&-frame {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background: linear-gradient(to right, transparent 0%, lavenderblush 100%);
		}
	} // .animation-branch-frame

	&-meta {
		margin-left: 15px;
	} // .animation-branch-meta

	&-name {
		color: salmon;
		transition: color .3s ease;
		&:hover { color: black; }
	} // .animation-branch-name
}
