/**
 * CSS: Director
 */

// Import the base.
@import "_base";



// ---------------------------------------------------------------------
// Layout
// ---------------------------------------------------------------------

*,
*:after { box-sizing: border-box; }

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	min-width: 37.5em;
	min-height: 100vh;
	margin: 0;
	padding: 50px;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;

	color: black;
	background-color: lavenderblush;
}

// Generic wrappers.
#app {
	display: block;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

// A general icon.
.icon {
	& > svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}



// ---------------------------------------------------------------------
// Text
// ---------------------------------------------------------------------

.accent {
	font-size: .75rem;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.title {
	display: block;
	margin: 15px 0;
	font-size: 1.5rem;
	font-weight: 200;

	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}



// ---------------------------------------------------------------------
// Header
// ---------------------------------------------------------------------

#header {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;

	margin: 0 0 40px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid lightblue;
}

.fieldset {
	padding: 0;
	border: 0;
}

.label {
	display: block;
	margin: 0 0 5px 0;
	cursor: pointer;

	&.is-required:after {
		content: '*';
		color: red;
	}
}

select,
input[type=number] {
	display: block;
	height: 30px;

	text-indent: 5px;
	font: inherit;
	color: darkgrey;
	border: 1px solid lightgrey;

	transition: border .3s ease, color .3s ease;

	&:hover,
	&:focus,
	&:active { border-color: darkgrey; }

	&:focus,
	&:active { color: black; }

	&:invalid { border-color: red; }

	& + label { margin-top: 10px; }
}

input[type=number] { width: 100px; }

input[type=checkbox] {
	display: block;
	width: 30px;
	height: 30px;
	margin-right: .5em;
}

.checkbox {
	& + .checkbox { margin-top: 10px; }

	& > .label.for-checkbox {
		display: flex;
		align-items: center;
		justify-content: center;

		margin: 0!important;
		padding: 0 0 0 20px;
		cursor: pointer;

		&:before {
			content: '';

			display: block;
			width: 15px;
			height: 15px;
			margin-right: .5em;

			border: 1px solid lightgrey;
			background-color: white;

			transition: border .3s ease, background .3s ease;
		}

		&:hover:before {
			border-color: darkgrey;
		}
	}

	input:checked + .label.for-checkbox:before {
		border-color: lightblue;
		background-color: lightblue;
	}
}



// ---------------------------------------------------------------------
// Tabs
// ---------------------------------------------------------------------

.tabs {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;

	margin: 0 0 -11px auto;

	& > .tab {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 40px;
		margin: 0 0 0 10px;
		padding: 11px 20px;

		border: 1px solid lightblue;
		border-radius: 5px 5px 0 0;
		background-color: lightblue;
		color: darkcyan;

		cursor: pointer;
		transition: color .3s ease;

		&.icon > svg {
			width: 13px;
			height: 13px;
		}

		&:hover { color: black; }

		&.is-active {
			color: black;
			pointer-events: none;
			background-color: transparent;
			border-bottom-color: lavenderblush;
		}
	}
}



// ---------------------------------------------------------------------
// Frame Toolbar
// ---------------------------------------------------------------------

#main {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.tools {
	width: 410px;
	margin-right: 60px;
}

.film {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 20px 0;

	background-color: white;
	background-image: url(grid.png);
	background-attachment: scroll;
	background-position: -1001px -751px;
	background-repeat: no-repeat;
	background-size: 2002px 1502px;

	border: 10px solid lightblue;

	.f173,
	.f174,
	.f175 { visibility: hidden!important; }
}

.frame-toolbar {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;

	background-color: lightblue;
	padding: 5px;

	& > .frame {
		position: relative;
		margin: 5px;
		cursor: pointer;

		background-color: lightblue;
		background-blend-mode: normal;
		transition: background .3s ease;

		&:hover {
			background-blend-mode: overlay;
		}
	}
}



// ---------------------------------------------------------------------
// Scenes
// ---------------------------------------------------------------------

.scene {
	width: calc(100% - 470px);

	&-settings {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;

		& > .fieldset {
			margin-right: 20px;
			&:last-child { margin-right: 0; }
		}
	} // .scene-settings

	&-frames {
		padding: 20px 0 0 0;
	} // .scene-frames

	&-frame {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		width: 100%;
		height: 60px;
		margin: 0 0 20px 0;
		padding: 0 0 20px 0;
		border-bottom: 1px dashed lightblue;

		&-number {
			color: lightblue;
		} // .scene-frame-number

		&-position {
			color: salmon;
		} // .scene-frame-position

		& > .frame {
			cursor: not-allowed;
			margin: 0 10px;
		}

		.icon {
			width: 13.107735px;
			height: 15px;
			cursor: pointer;
			transition: color .3s ease;

			&.up {
				transform: rotate(180deg);
				margin-bottom: 10px;
			}

			&.is-disabled {
				visibility: hidden;
				pointer-events: none !important;
			}

			&:hover {
				color: purple;
			}
		}
	} // .scene-frame
}



// ---------------------------------------------------------------------
// Frames
// ---------------------------------------------------------------------

// A Poe frame.
.frame {
	display: block;
	width: $tile_size;
	height: $tile_size;

	background-image: url($image);
	background-size: $width $height;
	background-repeat: no-repeat;
	background-position: top left;
	filter: blur(0);
	image-rendering: crisp-edges;

	&.flipx { transform: rotateY(180deg); }
	&.flipy { transform: rotateX(180deg); }
	&.flipx.flipy { transform: rotateX(180deg) rotateY(180deg); }
}

// There are a lot of frames! As with the main js-mate-poe.scss, we're
// skipping the first frame as it maches the default position, and the
// last two frames as they're transparent.
@for $frame from 1 through 172 {
	$x: (0 - $tile_size) * ($frame % $tiles_x);
	$y: (0 - $tile_size) * floor($frame / $tiles_x);

	@if $x != 0 and $y != 0 {
		.f#{$frame} { background-position: $x $y; }
	} @else if $x != 0 {
		.f#{$frame} { background-position-x: $x; }
	} @else if $y != 0 {
		.f#{$frame} { background-position-y: $y; }
	}
}

// Style blank frames so it is more obvious they exist.
.f173,
.f174,
.f175 {
	position: relative;
	background-image: none;

	&:before {
		content: '🗙';
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 20px;
		text-align: center;
		color: gold;
		font-size: 1rem;
	}
}
