/**
 * CSS: JS Mate Poe
 */

// Import the base.
@import "_base";



// The main sprite.
.poe {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;

	display: block;
	width: $tile_size;
	height: $tile_size;

	cursor: grab;
	z-index: 99999;
	overflow: hidden;

	background-image: url($image);
	background-size: $width $height;
	background-repeat: no-repeat;
	background-position: top left;

	// Animation: Dragging.
	&.is-dragging { cursor: grabbing; }

	// Child sprite.
	&.is-child {
		opacity: 0;
		transition: opacity .5s ease;
		pointer-events: none;
	}

	// Children fade in.
	&.fade-in { opacity: 1; }
}

// There are a lot of frames! (We're skipping the first frame (0) as it matches the default position.)
@for $frame from 1 through $tiles - 1 {
	$x: (0 - $tile_size) * ($frame % $tiles_x);
	$y: (0 - $tile_size) * floor($frame / $tiles_x);

	@if $x != 0 and $y != 0 {
		.poe-f#{$frame} { background-position: $x $y; }
	} @else if $x != 0 {
		.poe-f#{$frame} { background-position-x: $x; }
	} @else if $y != 0 {
		.poe-f#{$frame} { background-position-y: $y; }
	}
}
