/**
 * CSS: JS Mate Poe: CE
 */

// Import the base.
@import "_base";

:host {
	display: contents;
	image-rendering: pixelated;
}

#p, #i {
	display: block;
	margin: 0;
	padding: 0;
}

// The main sprite.
#p {
	position: fixed;
	top: 0;
	left: 0;

	width: $tile_size;
	height: $tile_size;

	cursor: grab;
	z-index: 100000;
	overflow: hidden;

	opacity: 1;
	transition: opacity .5s ease;

	// Animation: Dragging.
	&.is-dragging { cursor: grabbing; }

	// Children fade in.
	&.is-disabled { opacity: 0; }

	// Push behind other sprites.
	&.is-behind { z-index: 99999; }
}

// The image.
#i {
	width: $width;
	height: $height;

	transform: translate3d(var(--c, 0), var(--r, 0), 0);
}

// Child sprite.
#p.is-child,
#p.is-disabled,
#i { pointer-events: none; }

// Frame row offsets.
.r1 { --r: -40px; }
.r2 { --r: -80px; }
.r3 { --r: -120px; }
.r4 { --r: -160px; }
.r5 { --r: -200px; }
.r6 { --r: -240px; }
.r7 { --r: -280px; }
.r8 { --r: -320px; }
.r9 { --r: -360px; }
.ra { --r: -400px; }

// Frame column offsets.
.c1 { --c: -40px; }
.c2 { --c: -80px; }
.c3 { --c: -120px; }
.c4 { --c: -160px; }
.c5 { --c: -200px; }
.c6 { --c: -240px; }
.c7 { --c: -280px; }
.c8 { --c: -320px; }
.c9 { --c: -360px; }
.ca { --c: -400px; }
.cb { --c: -440px; }
.cc { --c: -480px; }
.cd { --c: -520px; }
.ce { --c: -560px; }
.cf { --c: -600px; }
