/**
 * CSS: JS Mate Poe
 */

// Import the base.
@import "_base";



// The main sprite.
.poe {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;

	display: block;
	width: $tile_size;
	height: $tile_size;

	cursor: grab;
	z-index: 99999;
	overflow: hidden;
	filter: blur(0);
	image-rendering: crisp-edges;

	opacity: 1;
	transition: opacity .5s ease;

	// Animation: Dragging.
	&.is-dragging { cursor: grabbing; }

	// Child sprite.
	&.is-child { pointer-events: none; }

	// Children fade in.
	&.is-disabled { opacity: 0; }

	// The image.
	&-img {
		position: relative !important;
		display: block !important;
		width: $width !important;
		height: $height !important;
		min-width: $width !important;
		max-width: none !important;
		min-height: $height !important;
		max-height: none !important;
		margin: 0 !important;
		padding: 0 !important;

		pointer-events: none;
		filter: blur(0);
		image-rendering: crisp-edges;
	} // .poe-img
}

// There are a lot of frames! (We're skipping the first frame (0) as it matches the default position.)
@for $frame from 1 through $tiles - 1 {
	$x: (0 - $tile_size) * ($frame % $tiles_x);
	$y: (0 - $tile_size) * floor($frame / $tiles_x);

	@if $x != 0 and $y != 0 {
		.poe-f#{$frame} { transform: translate($x, $y); }
	} @else if $x != 0 {
		.poe-f#{$frame} { transform: translateX($x); }
	} @else if $y != 0 {
		.poe-f#{$frame} { transform: translateY($y); }
	}
}
